@use '@angular/material' as mat;

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      )));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      )));

html {
  // Apply the light theme by default
  @include mat.core();
  @include mat.all-component-themes($light-theme);

  // Set default system variables for light theme
  @include mat.system-level-colors($light-theme);
  @include mat.system-level-typography($light-theme);
}

body.dark-theme {
  // Apply the dark theme when the class is present
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);

  color-scheme: dark;
}

body {
  // Common body styles
  margin: 0;
}