.queue-container {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 100px;
  text-align: right;
}
